@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<form method="post">
    <label for="Username">Username</label>
    <input class="form-control form-control-plaintext" type="text" id="Username" name="username" />
    
    <label for="Password">Password</label>
    <input class="form-control form-control-plaintext" type="password" id="Passowrd" name="password" />

    <input class="btn btn-success" type="submit" value="Login" />
</form>